body {
  background: fixed;
  background-image: url('https://wallpapercave.com/wp/wp2595099.png');
  background-size: cover;
  margin: 0;

  font-family: hasklig;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
