.startPage{
  display: flex;
  justify-content: center;
  width: 100%;
}

.pages{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.cornerPages{
  padding: 4px 7px;
  margin: 0px 5px;
  border: 0px;
  background-color: #ffffff50;  
}

.currentPage{
  margin: 0px 5px;
  border: 0px;
  padding: 7px 10px;

  border-radius: 5px;
  background-color: rgb(59, 65, 247);
}

.otherPages{
  padding: 4px 7px;

  border: 0px;
  background-color: #ffffff50;
}

.loading{
  width: 50vw;
}