.NavBar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  height: 10vw;
}

.navContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0px 30px;
  background: rgb(255,255,255); 
  background: linear-gradient(90deg, rgba(255,255,255,0.7) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.7 );

  border-radius: 2vw;
  
  width: 100%;
}


.RootLink-Pokeball{
  width: 8vw;
}

#Search{
  background-color: #00000038;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 10px;
  height: 50%;
  border: 0px;
}

.Submit{
  background-color: #00000080;
  padding: 5px 10px;
  border: 0px;
  border-radius: 0px 10px 10px 0px;
}

.Create{
  border: 0px;
  background-color: #00000038;
  padding: 5px 10px;
  border-radius: 0px 15px 0px 15px;
}